* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --clr-primery: #1c2541;
  --clr-primery-hover: #5bc0be;
  --clr-dark: #0b132b;
  --clr-white: #ffffff;
  --clr-back: #3a506b;
  --clr-hover: #5f9695;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: var(--clr-dark);
}
.nav-list {
  background-color: var(--clr-primery);
  margin: 0;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0px 0px 10px black;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-item {
  list-style: none;
  margin-right: 2rem;
}
.nav-item a {
  text-decoration: none;
  color: var(--clr-white);
}
.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.cont {
  position: absolute;
  width: 100%;
  top: 0;
  height: 60px;
}
#subit:hover {
  background: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: var(--clr-white);
  border-radius: 15px;
  z-index: 10;

  position: relative;
  left: 100px;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: var(--clr-primery-hover);
  color: rgb(255, 255, 255);
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 15px;
  z-index: 10;
  right: -50px;
  position: relative;
  width: 75px;
}

form.example button:hover {
  background: var(--clr-hover);
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
.main {
  margin-top: 80px;
  color: white;
  text-align: center;
}

#content {
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 10px;

  display: grid;
  max-width: 960px;
  margin: 0 auto;
}
#content div {
  background-color: var(--clr-back);
  padding: 30px;
}
